button {
    align-items: center;
    all: unset;
    font-family: var(--Open-Sans);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  
    cursor: pointer;
  
    &.btn-primary {
      color: #fff;
      background-color:var(--brand-dark);
      &:hover,
      &:focus {
        background-color: var(--brand-mid);
      }
    }

    img{
        margin-right: 10px;
        margin-top: 2px;
        height: 20px;
        width: 20px;
    }
  }


  .centro{
    align-items: center;
    justify-content: center;
  }
  
